# Notebook: Clean Dataset

This notebook is used to clean the crawled dataset. What actions are taken in the process is explained below.
<br>**Contributors:** [Nils Hellwig](https://github.com/NilsHellwig/) | [Markus Bink](https://github.com/MarkusBink/)

## Packages

In [1]:
import pandas as pd
import csv
import re
import os

## Parameters

In [2]:
RAW_DATASET_PATH = "../Datasets/raw_dataset/"
DATASET_PATH = "../Datasets/dataset/"
PARTIES = ["CDU_CSU", "SPD", "AFD", "FDP", "GRUENE", "LINKE"]

## Code

### 1. Create new Directories

In [3]:
# Iterate over the parties
for party in PARTIES:
    # Try to create a subdirectory for the party
    try:
        os.makedirs(DATASET_PATH + party)
    except FileExistsError:
        # The directory already exists, so do nothing
        pass

### 2. Clean Dataframe and Store as CSV

In [4]:
n_tweets_total = 0
for party in PARTIES:
    n_tweets_party = 0
    for subdir, _, files in os.walk(RAW_DATASET_PATH + party):
        for file in files:
            if file.endswith('.csv') and subdir[len(RAW_DATASET_PATH):] in PARTIES:
                # Get username of CSV file
                username = file[:-4]
                
                # Load dataframe of an account
                df = pd.read_csv(RAW_DATASET_PATH + party + "/" + file, sep=",", index_col=0, lineterminator="\n")
                
                # Check if tweet was crawled twice (we have never seen the opposite with the use of twint)
                if df["id"].nunique() == len(df):
                    print("All values in the column are unique.", username)
                else:
                    print("There are duplicate values in the column.", username)
                
                # 1. Filter out rows where the username ist the politician/party account itself
                df = df[df.username != username]
                
                # 2. Filter german tweets
                df = df[df.language == "de"]
                
                # Reset the index of the dataframe
                df = df.reset_index(drop=True)
                
                n_tweets_party += df.shape[0]
                print(username, df.shape[0])
                
                # Save dataframe
                df.to_csv(DATASET_PATH + "/" + party + "/" + username + ".csv", sep=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)
                
    n_tweets_total += n_tweets_party
    print(party, n_tweets_party)
    
print("Total: ", n_tweets_total)

All values in the column are unique. ArminLaschet
ArminLaschet 36161
All values in the column are unique. HBraun
HBraun 3212
All values in the column are unique. andreasscheuer
andreasscheuer 2431
All values in the column are unique. CSU
CSU 9072
All values in the column are unique. DerLenzMdB
DerLenzMdB 236
All values in the column are unique. Markus_Soeder
Markus_Soeder 30495
All values in the column are unique. ANiebler
ANiebler 25
All values in the column are unique. MarkusFerber
MarkusFerber 21
All values in the column are unique. Junge_Union
Junge_Union 931
All values in the column are unique. ManfredWeber
ManfredWeber 527
All values in the column are unique. DoroBaer
DoroBaer 2560
All values in the column are unique. rbrinkhaus
rbrinkhaus 4280
All values in the column are unique. tj_tweets
tj_tweets 396
All values in the column are unique. DaniLudwigMdB
DaniLudwigMdB 3821
All values in the column are unique. JuliaKloeckner
JuliaKloeckner 3357
All values in the column are unique. cducsubt
cducsubt 13250
All values in the column are unique. n_roettgen
n_roettgen 4645
All values in the column are unique. jensspahn
jensspahn 35571
All values in the column are unique. groehe
groehe 79
All values in the column are unique. _FriedrichMerz
_FriedrichMerz 23651
All values in the column are unique. hahnflo
hahnflo 2900
All values in the column are unique. smuellermdb
smuellermdb 239
All values in the column are unique. PaulZiemiak
PaulZiemiak 12723
All values in the column are unique. CDU
CDU 37100
CDU_CSU 227683
All values in the column are unique. KarambaDiaby
KarambaDiaby 392
All values in the column are unique. Ralf_Stegner
Ralf_Stegner 7061
All values in the column are unique. hubertus_heil
hubertus_heil 2406
All values in the column are unique. OlafScholz
OlafScholz 27414
All values in the column are unique. jusos
jusos 1847
All values in the column are unique. spdbt
spdbt 9809
All values in the column are unique. Karl_Lauterbach
Karl_Lauterbach 132526
All values in the column are unique. KuehniKev
KuehniKev 5192
All values in the column are unique. larsklingbeil
larsklingbeil 5669
All values in the column are unique. HeikoMaas
HeikoMaas 6431
All values in the column are unique. MiRo_SPD
MiRo_SPD 350
All values in the column are unique. EskenSaskia
EskenSaskia 7180
All values in the column are unique. spdde
spdde 22138
SPD 228415
All values in the column are unique. MalteKaufmann
MalteKaufmann 5149
All values in the column are unique. AfD
AfD 8330
All values in the column are unique. PetrBystronAFD
PetrBystronAFD 496
All values in the column are unique. StBrandner
StBrandner 11914
All values in the column are unique. JoanaCotar
JoanaCotar 4330
All values in the column are unique. Beatrix_vStorch
Beatrix_vStorch 3962
All values in the column are unique. GtzFrmming
GtzFrmming 984
All values in the column are unique. Alice_Weidel
Alice_Weidel 9367
All values in the column are unique. AfDimBundestag
AfDimBundestag 4713
All values in the column are unique. AfDBerlin
AfDBerlin 364
All values in the column are unique. gottfriedcurio
gottfriedcurio 275
All values in the column are unique. Joerg_Meuthen
Joerg_Meuthen 4813
All values in the column are unique. Tino_Chrupalla
Tino_Chrupalla 2875
AFD 57572
All values in the column are unique. f_schaeffler
f_schaeffler 1092
All values in the column are unique. ria_schroeder
ria_schroeder 359
All values in the column are unique. fdpbt
fdpbt 8194
All values in the column are unique. c_lindner
c_lindner 19942
All values in the column are unique. MaStrackZi
MaStrackZi 2453
All values in the column are unique. fdp_nrw
fdp_nrw 884
All values in the column are unique. fdp
fdp 27981
All values in the column are unique. LindaTeuteberg
LindaTeuteberg 328
All values in the column are unique. Wissing
Wissing 2805
All values in the column are unique. Lambsdorff
Lambsdorff 884
All values in the column are unique. KonstantinKuhle
KonstantinKuhle 2710
All values in the column are unique. MarcoBuschmann
MarcoBuschmann 10062
All values in the column are unique. johannesvogel
johannesvogel 2121
FDP 79815
All values in the column are unique. GoeringEckardt
GoeringEckardt 5227
All values in the column are unique. Ricarda_Lang
Ricarda_Lang 3546
All values in the column are unique. BriHasselmann
BriHasselmann 1795
All values in the column are unique. KathaSchulze
KathaSchulze 4609
All values in the column are unique. GrueneBundestag
GrueneBundestag 6399
All values in the column are unique. cem_oezdemir
cem_oezdemir 9942
All values in the column are unique. nouripour
nouripour 505
All values in the column are unique. MiKellner
MiKellner 3436
All values in the column are unique. JTrittin
JTrittin 1782
All values in the column are unique. KonstantinNotz
KonstantinNotz 2144
All values in the column are unique. RenateKuenast
RenateKuenast 2026
All values in the column are unique. Die_Gruenen
Die_Gruenen 30560
All values in the column are unique. gruene_jugend
gruene_jugend 1290
GRUENE 73261
All values in the column are unique. SWagenknecht
SWagenknecht 7177
All values in the column are unique. dieLinke
dieLinke 14135
All values in the column are unique. Linksfraktion
Linksfraktion 2994
All values in the column are unique. Janine_Wissler
Janine_Wissler 1046
All values in the column are unique. dielinkeberlin
dielinkeberlin 1228
All values in the column are unique. DietmarBartsch
DietmarBartsch 3409
All values in the column are unique. SusanneHennig
SusanneHennig 4463
All values in the column are unique. GregorGysi
GregorGysi 1722
All values in the column are unique. jankortemdb
jankortemdb 743
All values in the column are unique. anked
anked 935
All values in the column are unique. SevimDagdelen
SevimDagdelen 172
All values in the column are unique. katjakipping
katjakipping 1072
All values in the column are unique. b_riexinger
b_riexinger 1399
LINKE 40495
Total:  707241